  ul{
  
  list-style:none;
  padding:0;
  margin:0;
  }
  ul li a{
  text-decoration:none;
  font-family:Georgia;
  background-color:#5c755e;
  color:white;
  display:block;
  width:80px;
  margin:5px;
  padding:10px;
  border:1px solid red;
  text-align:center;
  height:25px;
  line-height:25px;
  }
  ul li a :hover{
  color:black;
  background-color:#d3d3d3;
  
  }
